extends ../layout/common.pug
block content	
	h1 Create User
	form(action="/users/create" method="POST")
		label(style="display: inline-block; width: 100px") Name
		input(type="text" name='name')
		br
		label(style="display: inline-block; width: 100px") Age
		input(type="text" name='age')
		br
		label(style="display: inline-block; width: 100px") Gender
		input(type="text" name='gender')
		br
		button Create