extends ../layout/common.pug
block content
	h1(class="text-center") User List
	a(href='/users/create' class="m-5") Creat
	form(action="/users/search" method="GET" class="form-group d-flex ml-5 mr-5")
		input(type="text" name='q' class="form-control")
		button(class="btn btn-primary ml-2") Seach
	div(class="row")
		div(class="col-5")
		ul(style="list-style: none" )
			each val in users
				a(href="/users/id/"+val.id style="color: black; text-decoration: none; font-size: 20px")
					li= val.name